[alias]
graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
g = graph
ga = graph --all

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[user]
    email = 56219944+mtyszkiewicz@users.noreply.github.com
    name = Marcin Tyszkiewicz

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[init]
	defaultBranch = main
